*{
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.header__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3a3a3a;
    color: white;
    gap: 100px;
    flex-wrap: wrap;
    padding: 10px;
}

.header__nav{
    width: 40%;
}

.header__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
}

.header__list-link{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
    transition: 0.3s ease-out;
}

.header__list-link:hover{
    color: #e4ff4dbb;
}

.main__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 60px;
    color: navy;
}

h2{
    font-size: 40px;
    color: #0c0c0c;
}

h3{
    font-size: 30px;
    color: #0c0c0c;
}

p{
    font-size: 30px;
}

a{
    color: #3498db;
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
}

.section__aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.aboutme__content{
    display: flex;
    justify-content:center;
    width: 100%;
    gap: 50px;
}

.aboutme__img{
    width: 300px;
    object-fit: cover;
    border: 3px solid #2c2c2c;
    border-radius: 100px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.aboutme__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__projects{
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

footer{
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}