*{
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #2e2e2e;
    line-height: 1.6;
}

.main__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px 20px;
    border: 1px solid #2c3e50;
    border-radius: 10px;
    background-color: #dceeff;
}

.aboutme__title{
    font-weight: bold;
    font-size: 30px;
    color: #0d2f52;
}

.aboutme__description{
    font-size: 20px;
}

.section__information{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}

.information__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information__title-name{
    font-size: 30px;
    font-weight:bold;
    color: #0d2f52;
}

.information__item{
    display: flex;
    align-items: center;
    gap: 5px;
}

.information__item-icon{
    width: 30px;
}

.information__item-description{
    font-size: 20px;
}

.information__item-link{
    font-size: 20px;
    text-decoration: none;
    color: inherit;
}

.information__item-link:hover{
    color: #e08c0dbb;
}

.information__img{
    width: 250px;
    object-fit: cover;
    border: 1px solid #2c2c2c;
    border-radius: 100px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.section__skills{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin: 20px 20px;
    border: 1px solid #2c3e50;
    border-radius: 10px;
    background-color: #dceeff;
}

.skills__title{
    font-size: 30px;
    font-weight: bold;
    color: #0d2f52;
}

.skills__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.skills__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__item-title{
    font-size: 20px;
    font-weight: 600;
}

.skills__item-icon{
    width: 80px;
}

.section__projects{
    padding: 20px;
    margin: 0px 20px 20px 20px;
    border: 1px solid #2c3e50;
    border-radius: 10px;
    background-color: #dceeff;
}

.projects__title{
    font-weight: bold;
    font-size: 30px;
    color: #0d2f52;
}

.projects__item-title{
    font-weight: bold;
    font-size: 25px;
    color: #0d2f52;
}

.projects__tags{
    color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #333333;
}

.projects__item-links{
    color: #0074aa;
    font-size: 20px;
    text-decoration: none;
}

.projects__item-links:hover{
    color: #035175;
}

.projects__item-description{
    font-size: 20px;
}